.slider {
  height: 700px;
  width: 100%;
  box-shadow: 2px 4px 10px -2px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 2px 4px 10px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 2px 4px 10px -2px rgba(0, 0, 0, 0.52);
}
.carouselitems > img {
  height: 700px;
  object-fit: 'cover';
}
.mainslider {
  height: 700px;
}
@media screen and (max-width: 500px) {
  .slider {
    height: 200px;
    width: 100%;
  }
  .carouselitems > img {
    height: 200px;
  }
  .mainslider {
    height: 200px;
  }
}
